### Assignment 1: UN Debates, World Happiness and International Trade
### Fundamentals of Data Science

#### By Sion Coolwijk (13119001), ...

In [3]:
# import libraries
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# Create a dataframe from the raw data folders and txt files
sessions = np.arange(25, 76)
data=[]

for session in sessions:
    directory = "./TXT/Session "+str(session)+" - "+str(1945+session)
    for filename in os.listdir(directory):
        with open(os.path.join(directory, filename)) as f:
            if filename[0]==".": #ignore hidden files
                continue
            splt = filename.split("_")
            data.append([session, 1945+session, splt[0], f.read()])

df_speech = pd.DataFrame(data, columns=['Session','Year','ISO-alpha3 Code','Speech'])
df_codes = pd.read_csv('UNSD â€” Methodology.csv', delimiter=';')

# Merge data with regions and such
df = pd.merge(left=df_speech, right=df_codes, how='left', on='ISO-alpha3 Code')
df = df[["Country or Area", "Region Name","Sub-region Name", "ISO-alpha3 Code","Least Developed Countries (LDC)", "Session", "Year", "Speech"]]
un_df = df.set_index(['Year', 'ISO-alpha3 Code'])

## The data for the UN debates
un_df.head()

                     Country or Area Region Name  \
Year ISO-alpha3 Code
1970 AUT                     Austria      Europe
     MEX                      Mexico    Americas
     COG                       Congo      Africa
     DZA                     Algeria      Africa
     LKA                   Sri Lanka        Asia

                                      Sub-region Name  \
Year ISO-alpha3 Code
1970 AUT                               Western Europe
     MEX              Latin America and the Caribbean
     COG                           Sub-Saharan Africa
     DZA                              Northern Africa
     LKA                                Southern Asia

                     Least Developed Countries (LDC)  Session  \
Year ISO-alpha3 Code
1970 AUT                                         NaN       25
     MEX                                         NaN       25
     COG                                         NaN       25
     DZA                                         NaN       25
     LKA                                         NaN       25

                                                                 Speech
Year ISO-alpha3 Code
1970 AUT              155.\t  May I begin by expressing to Ambassado...
     MEX              33.\t  Mr. President, I take great pleasure in...
     COG              122.\t  I cannot begin my intervention without...
     DZA              1.  The delegation of Algeria is very pleased ...
     LKA              176.\t Mr. President, the delegation of Ceylon...

In [13]:
# Create a dataframe for the world happyiness data
happy_df = pd.read_excel('DataForTable2.1WHR2023.xls') 


# happy_df.head()
df_codes
# Merging and cleanup of the data
# df_codes_simple = df_codes[['Region Name', 'Sub-region Name', 'Country or Area', 'ISO-alpha3 Code']]
# happy_df_merged = pd.merge(left=happy_df, right=df_codes_simple, how='inner', left_on=['Country name'], right_on=['Country or Area'])
# happy_df_merged.drop('country',axis=1, inplace=True)

# # Describe null values in dataset
# for x in happy_df_merged.columns:
#     num_nulls = happy_df_merged[x].isnull().sum()
#     print(f"Total null values in {x}: {num_nulls}")

# # Create a heatmap to visualize the data points of the countries, year and lifeladder
# pivot_df = happy_df_merged.pivot_table(index='Sub-region Name', columns='year', values='Life Ladder', aggfunc='mean')
# plt.figure(figsize=(10, 6))
# sns.heatmap(pivot_df, cbar=True, cmap='viridis')
# plt.title('Average Happiness score per Region and Year')
# plt.xlabel('Year')
# plt.ylabel('Region')
# plt.show()

,Global Code,Global Name,Region Code,Region Name,Sub-region Code,Sub-region Name,Intermediate Region Code,Intermediate Region Name,Country or Area,M49 Code,ISO-alpha2 Code,ISO-alpha3 Code,Least Developed Countries (LDC),Land Locked Developing Countries (LLDC),Small Island Developing States (SIDS)
0,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Algeria,12,DZ,DZA,NaN,NaN,NaN
1,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Egypt,818,EG,EGY,NaN,NaN,NaN
2,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Libya,434,LY,LBY,NaN,NaN,NaN
3,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Morocco,504,MA,MAR,NaN,NaN,NaN
4,1,World,2.0,Africa,15.0,Northern Africa,NaN,NaN,Sudan,729,SD,SDN,x,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,1,World,9.0,Oceania,61.0,Polynesia,NaN,NaN,Samoa,882,WS,WSM,NaN,NaN,x
244,1,World,9.0,Oceania,61.0,Polynesia,NaN,NaN,Tokelau,772,TK,TKL,NaN,NaN,NaN
245,1,World,9.0,Oceania,61.0,Polynesia,NaN,NaN,Tonga,776,TO,TON,NaN,NaN,x
246,1,World,9.0,Oceania,61.0,Polynesia,NaN,NaN,Tuvalu,798,TV,TUV,x,NaN,x
247,1,World,9.0,Oceania,61.0,Polynesia,NaN,NaN,Wallis and Futuna Islands,876,WF,WLF,NaN,NaN,NaN