### Assignment 1: UN Debates, World Happiness and International Trade
### Fundamentals of Data Science

#### By Sion Coolwijk (13119001), ...

In [29]:
# import libraries
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
# Create a dataframe from the raw data folders and txt files
sessions = np.arange(25, 76)
data=[]

for session in sessions:
    directory = "./TXT/Session "+str(session)+" - "+str(1945+session)
    for filename in os.listdir(directory):
        with open(os.path.join(directory, filename)) as f:
            if filename[0]==".": #ignore hidden files
                continue
            splt = filename.split("_")
            data.append([session, 1945+session, splt[0], f.read()])

df_speech = pd.DataFrame(data, columns=['Session','Year','ISO-alpha3 Code','Speech'])
df_codes = pd.read_csv('UNSD — Methodology.csv', delimiter=';')

# Merge data with regions and such
df = pd.merge(left=df_speech, right=df_codes, how='left', on='ISO-alpha3 Code')
df = df[["Country or Area", "Region Name","Sub-region Name", "ISO-alpha3 Code","Least Developed Countries (LDC)", "Session", "Year", "Speech"]]
un_df = df.set_index(['Year', 'ISO-alpha3 Code'])

## The data for the UN debates
un_df.head()

                     Country or Area Region Name  \
Year ISO-alpha3 Code
1970 AUT                     Austria      Europe
     MEX                      Mexico    Americas
     COG                       Congo      Africa
     DZA                     Algeria      Africa
     LKA                   Sri Lanka        Asia
...                              ...         ...
2020 HRV                     Croatia      Europe
     GAB                       Gabon      Africa
     MCO                      Monaco      Europe
     AND                     Andorra      Europe
     BHR                     Bahrain        Asia

                                      Sub-region Name  \
Year ISO-alpha3 Code
1970 AUT                               Western Europe
     MEX              Latin America and the Caribbean
     COG                           Sub-Saharan Africa
     DZA                              Northern Africa
     LKA                                Southern Asia
...                                               ...
2020 HRV                              Southern Europe
     GAB                           Sub-Saharan Africa
     MCO                               Western Europe
     AND                              Southern Europe
     BHR                                 Western Asia

                     Least Developed Countries (LDC)  Session  \
Year ISO-alpha3 Code
1970 AUT                                         NaN       25
     MEX                                         NaN       25
     COG                                         NaN       25
     DZA                                         NaN       25
     LKA                                         NaN       25
...                                              ...      ...
2020 HRV                                         NaN       75
     GAB                                         NaN       75
     MCO                                         NaN       75
     AND                                         NaN       75
     BHR                                         NaN       75

                                                                 Speech
Year ISO-alpha3 Code
1970 AUT              155.\t  May I begin by expressing to Ambassado...
     MEX              33.\t  Mr. President, I take great pleasure in...
     COG              122.\t  I cannot begin my intervention without...
     DZA              1.  The delegation of Algeria is very pleased ...
     LKA              176.\t Mr. President, the delegation of Ceylon...
...                                                                 ...
2020 HRV              Mr President, Excellencies\nAll protocol obser...
     GAB              Mr. President, Majesties,\nLadies and Gentleme...
     MCO              Mr. President of the General Assembly,\nMr. Se...
     AND              Mr. President,\nMr. Secretary General,\nYour E...
     BHR              In the name of Allah, the most gracious, the m...

[8481 rows x 6 columns]

In [40]:
# Create a dataframe for the world happyiness data
happy_df = pd.read_excel('DataForTable2.1WHR2023.xls', index_col=[0,1]) 

happy_df.head()

                   Life Ladder  Log GDP per capita  Social support  \
Country name year
Afghanistan  2008     3.723590            7.350416        0.450662
             2009     4.401778            7.508646        0.552308
             2010     4.758381            7.613900        0.539075
             2011     3.831719            7.581259        0.521104
             2012     3.782938            7.660506        0.520637

                   Healthy life expectancy at birth  \
Country name year
Afghanistan  2008                         50.500000
             2009                         50.799999
             2010                         51.099998
             2011                         51.400002
             2012                         51.700001

                   Freedom to make life choices  Generosity  \
Country name year
Afghanistan  2008                      0.718114    0.167652
             2009                      0.678896    0.190809
             2010                      0.600127    0.121316
             2011                      0.495901    0.163571
             2012                      0.530935    0.237588

                   Perceptions of corruption  Positive affect  Negative affect
Country name year
Afghanistan  2008                   0.881686         0.414297         0.258195
             2009                   0.850035         0.481421         0.237092
             2010                   0.706766         0.516907         0.275324
             2011                   0.731109         0.479835         0.267175
             2012                   0.775620         0.613513         0.267919

In [41]:
# Self-employment rate
employment_df = pd.read_csv('DP_LIVE_25092023132251143.csv')

employment_df

       LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME     Value Flag Codes
0           AUS   SELFEMP     MEN  PC_EMP         A  1991  17.05383        NaN
1           AUS   SELFEMP     MEN  PC_EMP         A  1992  17.29272        NaN
2           AUS   SELFEMP     MEN  PC_EMP         A  1993  17.70463        NaN
3           AUS   SELFEMP     MEN  PC_EMP         A  1994  17.12308        NaN
4           AUS   SELFEMP     MEN  PC_EMP         A  1995  16.86881        NaN
...         ...       ...     ...     ...       ...   ...       ...        ...
3745  EU27_2020   SELFEMP   WOMEN  PC_EMP         A  2017  11.69269        NaN
3746  EU27_2020   SELFEMP   WOMEN  PC_EMP         A  2018  11.46141        NaN
3747  EU27_2020   SELFEMP   WOMEN  PC_EMP         A  2019  11.33066        NaN
3748  EU27_2020   SELFEMP   WOMEN  PC_EMP         A  2020  11.36866          B
3749  EU27_2020   SELFEMP   WOMEN  PC_EMP         A  2021  10.59667        NaN

[3750 rows x 8 columns]